<button (click)="sendEmailWithAttachment()">sendEmailWithAttachment</button>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>

<button (click)="sendEmailWithAttachment()">sendEmailWithAttachment</button>
<button (click)="sendEmailWithAttachment()">sendEmailWithAttachment</button>
<button (click)="sendEmailWithAttachment()">sendEmailWithAttachment</button>
<button (click)="sendEmailWithAttachment()">sendEmailWithAttachment</button>
<button (click)="sendEmailWithAttachment()">sendEmailWithAttachment</button>
<button (click)="sendEmailWithAttachment()">sendEmailWithAttachment</button>
