div {
 height: 10%;
 padding: 3px;
 position: fixed;
 left: 10px;
 top: 10px;
 color: white;
}

.logo {
    height: 63px;
    left: זpx;
    position: relative;
    bottom: 7px;
} 

.logo2{
    height: 80px;
    margin-left: 121px;
}