<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="shopping-cart-container">
      <div class="no-items" *ngIf="allItemsByCart?.length === 0">No Items</div>
      <div class="shopping-cart-header">
        <h2 class="cart-header">
          הזמנה ({{ allItemsByCart?.length }})
        </h2>

        <div
          *ngIf="allItemsByCart?.length !== 0"
          mat-raised-button
          class="delete-all empty-cart"
          (click)="deleteAllItems()"
        >
          רוקן את כל ההזמנה
        </div>
      </div>
      <div class="shopping-cart-content">
        <app-sidenav-details
          [fromShopPage]="isShoppingPage"
          *ngFor="let i of allItemsByCart"
          [item]="i"
          (deleteItem)="deleteThisCard($event)"
        ></app-sidenav-details>
      </div>
      <div class="shopping-cart-footer">
        <div *ngIf="totalAmount && allItemsByCart?.length !== 0">
          <!-- <div class="total-header">סה''כ':</div> -->
          <div class="total-amount">{{ totalAmount | currency : "ILS" }} : סה''כ</div>
        </div>
        <br />

        <div (click)="sendOrderDetails(totalAmount)" class="checkout-btn">
          <mat-icon class="shopping-cart-icon">shopping_cart</mat-icon>אישור
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="side-bar-action-button" (click)="opened = !opened">
      <div class="toggle-button">
        <div class="cart-items-amount" *ngIf="allItemsByCart">
          {{ allItemsByCart.length }}
        </div>
        <img class="cart-side-image" src="/assets/images/logo.png" />
      </div>
    </div>
    <div class="category-style">
      <app-category-list></app-category-list>
    </div>
    <div>
      <app-product-list
        (addProductEmit)="addProduct($event)"
        (deleteProductEmit)="deleteProduct($event)"
      ></app-product-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
