html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
}

select,
input {
  font-size: large;
}

a {
  color: blue;
}

.box {
  display: inline-block;
  margin: 10px;
  border-radius: 3px;
  text-align: center;
  width: 195px;
}

.box:hover {
  box-shadow: 2px 4px 3px grey;
  cursor: pointer;
}

.mat-dialog-container {
  background-color: white !important;
}

/* scroll bar styling */

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(150, 145, 145);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 123, 123);
}

::-webkit-scrollbar:horizontal {
  height: 12px;
  background-color: rgb(129, 123, 123);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgb(150, 145, 145);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgb(129, 123, 123);
}

// for custom pipe:
.highlight {
  background-color: violet;
  font-weight: bold;
}

.header-container {
  color: blue !important;
}

header {
  height: 200px;
}

body {
  height: max-content;
}

.logo_container {
  margin: 23px;
}

div[_ngcontent-mig-c196] {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 1;
  right: 41px;
}

body {
  height: 100%;
  background-color: white;
}

.footer[_ngcontent-wib-c199] {
  background-color: #24262b;
  padding: 20px 0;
  height: 310px;
}

header[_ngcontent-cyj-c200],
footer[_ngcontent-cyj-c200] {
  grid-column: span 6;
  height: 300px;
}

header[_ngcontent-hpt-c198] {
  width: 100vw;
  height: 100px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  font-family: "Poppins";
  background-color: white;
}

.mat-card-header-text {
  margin: 0 0px !important;
  margin-right: -110px !important;
}

.mat-drawer-transition .mat-drawer-content {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform, margin-left, margin-right;
  background-color: white;
}

header {
  height: 100px;
}

.menu2 {
  margin-bottom: 18px;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 0px !important;
  border-radius: 4px;
}

.mat-card-actions {
  margin-left: -8px;
  margin-right: 18px !important;
  padding: 8px 0;
}

.mat-card-content {
  font-size: 14px;
  margin-right: 19px !important;
}

.mat-card-image {
  width: 100% !important;
  margin: 0 !important;
  display: block !important;
  overflow: hidden !important;
  margin-bottom: 23px !important;
}

app-search[_ngcontent-yff-c198] {
  position: absolute;
  left: 392px;
  top: 12px;
  width: 880px !important;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 477px !important;
  padding-top: 9px !important;
}
