.product-list-container {
    text-align: center;
}

.loading {
    height: 224px;
    width: 234px;
    top: 73px;
    position: relative;
}

.tnovaComersial{
    margin-top: 10px;
}

.deals{
    margin-top: 50px;
    text-align: right;
    padding-right: 50px;
    margin-bottom: 254px;
}

.iphoneComersial{
    margin-top: 10px;
}